# Main dependencies
click==8.3.1
jinja2==3.1.6
validators==0.34.0

# Test dependencies
black==25.12.0             # Code formatter
iniconfig==2.3.0           # Brainless ini config parser (used by pytest)
isort==7.0.0               # Sorts imports
mypy==1.19.1               # Static type checker
mypy_extensions==1.1.0     # Extensions for mypy
packaging==25.0            # Core utilities for Python packages
pathspec==0.12.1           # Utility library for gitignore-style pattern matching
platformdirs==4.5.1        # Deterministic platform-specific directory locations
pluggy==1.6.0              # Plugin system for pytest
Pygments==2.19.2           # Syntax highlighter
pytest==9.0.2              # Testing framework
pytest-cov==7.0.0          # Coverage plugin for pytest
typing_extensions==4.15.0  # Backport of new typing features
